body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}

.container-narrow>hr {
    margin: 2rem 0;
}

.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}

.jumbotron .jumbotron-menu {
    width: auto;
}

.jumbotron h1 {
    font-size: 2.5rem;
    text-align: left;
}

.jumbotron-menu .btn-secondary {
    font-size: 1.3rem;
    color: #000;
    background-color: transparent;
    border-color: transparent;
}

.btn-secondary:not([disabled]):not(.disabled).active,
.btn-secondary:not([disabled]):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #666e76;
    background-color: transparent;
    border-color: transparent;
}

.btn-secondary.focus,
.btn-secondary:focus {
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, .0) !important;
}

.btn-secondary:hover {
    color: #007bff;
}

@media screen and (min-width: 48em) {
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    .header {
        margin-bottom: 2rem;
    }
    .jumbotron {
        border-bottom: 0;
    }
}